*{
    text-align: center;
}

.teste_01{
    position: static;
}

.teste_02{
    position: relative;
    left: 250px;
    right: 100px;
    top: -40px;
    bottom: 70px;
    z-index: -1;
}

.teste_03{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.container{
    position: absolute;
}

.teste_04{
   position: absolute;
   top: 50px;
   left: 100px;
}

.teste_05{
    position: sticky;
    top: 0;
}