*{
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}

.flex-container{
    max-width: 800px;
    border: 2px solid black;
    display: flex;
}

img{
    width: 130px;
}

.itens{
    background-color: rgb(42, 158, 204);
    margin: 5px;
}

.bauto{
    flex-basis: auto;
}

.fg-1{
    flex-grow: 1;
}

.fg-2{
    flex-grow: 2;
}

.b-0{
    flex-basis: 0;
}
