.flex-pai{
    background: blue;
    max-width: 400px;
    max-height: 116px;
    display: flex; /* um item fica do lado do outro */
    margin: auto;
}

.flex-pai div{
    background: gray;
    border: 2px solid gray;
    margin: 5px;
    padding: 1px;
}