ul{
    background: rgb(20, 233, 102);
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{
    float: left;
}

li a, .drop_btn{
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover, .dropdown:hover .drop_btn{
    background: rgb(10, 6, 6);
    color: white;
}

li.dropdown{
    display: inline-block;
}

.dropdown_conteudo{
    display: none;
    position: absolute;
    background: white;
    width: 150px;
}

.dropdown_conteudo a{
    color: black;
    display: block;
    text-align: left;
    border: 1px solid rgb(223, 217, 217)
}

.dropdown_conteudo a:hover{
    color: white;
}

.dropdown:hover .dropdown_conteudo{
    display: block;
}