body{
    background: rgb(100,219,61);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

img{
    width: 400px;
    border-radius: 30px;
    margin: 70px;
}

a{
    text-decoration: none;
    color: black;
    background: white;
    border: 2px solid rgb(90, 85, 85);
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}

a:hover{
    background: rgb(34, 214, 34);
    color: white;
}