*{
    background: rgb(211, 208, 208);
}

img{
    width: 120px;
    height: 125px;
}

.flex-container{
    margin:0;
    padding:0;
    display: flex;
    list-style: none;
}

.flex-item{
    margin: 5px;
}

.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.column{
    float: left;
    flex-direction: column;
}

.column-reverse{
    float: right;
    flex-direction: column-reverse;
}