*{
    margin: auto;
    padding: 10px;
    text-align: center;-
    background: rgb(253, 253, 150);
}

img{
    width: 100px;
}

.container{
    height: 400px;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.item{
    background-color: yellow;
    padding: 0 5px;
    margin: 10px;
    flex: 1;
    text-align: center;
    border: 2px solid black;
}

.stretch{
    align-content: stretch;
}

.center{
    align-content: center;
}

.flex-start{
    align-content: flex-start;
}

.flex-end{
    align-content: flex-end;
}

.around{
    align-content: space-around;
}

.between{
    align-content: space-between;
}